body { background-color: #dddddd; }

#site {
  width: 1300px;
  height: 700px;
  background-color: white;
  margin-left: 30px;
}

#lista {
  float: left;
  width: 200px;
  height: 700px;
  background-color: #dddddd;
  margin-top: 100px;
}

#menu li{
  margin: 2px;
  padding: 10px;
}

#menu ul {
  list-style: none;
  position: absolute;
  text-transform: uppercase;
}

#menu a {
  color: #000000;
  text-decoration: none;
}

#menu li:hover {
  transition: 1s;
  background-color: #606060;
}

#menu a:hover { color: white; }

#header {
  width: 1300px;
  height: 100px;
  background-color: #dddddd;
}

#conteudo{
  width: 1300px;
  height: 500px;
  background-color: white;
}

#footer {
  width: 1300px;
  height: 50px;
  background-color: white;
  border-top: 1px solid black;
}

#header h1 {
  position: absolute;
  margin-left: 180px;
  margin-top: 30px;
}
